<h1><%= @student.to_s %></h1>
<%# <% byebug %> %>
<% if @student.active? == true %>
  <%# student is active %>
  <p>This student is currently active.</p>
<% else %>
  <%# student is NOT active </%>
  <p>This student is currently inactive.</p>
<% end %>
